<main class="container container-bg mt-2">
    <table class="table mt-2">
        <thead class="table-header table-thead-border">
            <tr>
                <th scope="col" class="text-center">ID</th>
                <th scope="col" class="text-center">Nombre</th>
                <th *ngIf="user.rol !== 'Invitado' && user.rol !== 'Usuario'" scope="col">Usuario</th>
                <th scope="col">Estatus</th>
                <th *ngIf="user.rol !== 'Invitado'" scope="col" class="text-center col-actions">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-body align-middle">
            <tr *ngFor="let app of aplications; let i = index; trackBy: trackByFn">
                <td class="text-center">{{ app.id }}</td>
                <td>{{ app.name }}</td>
                <td *ngIf="user.rol !== 'Invitado' && user.rol !== 'Usuario'">{{ app.user }}</td>
                <td *ngIf="user.rol === 'Autorizador' || user.rol === 'Administrador'; else authStatus">
                   <select-list 
                    [currentValue]="app.status"
                    (newValue)="onChangeStatus($event, app)"/>
                </td>
                <ng-template #authStatus>
                    <td>{{ app.status | statusTxt}}</td>
                </ng-template>
                
                <td *ngIf="user.rol !== 'Invitado'" class="text-nowrap text-center">
                    <a 
                        *ngIf="app.status === 1"
                        [href]="app.linkDownload"
                        download="{{ app.name }}.jpeg"
                        class="c-pointer mx-1">
                        <span class="material-icons icon-pos icon-down">download</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</main>
<paginator
    [totalItems]="totalItems"
    (pageChanged)="onPageChange($event)"/>

<a #btnModal data-bs-toggle="modal" data-bs-target="#staticBackdrop"></a>
<modal-confirmation
    modalTitle="¿Eliminar aplicación?"
    [modalBodyText]="modalBodyText"
    modalCloseBtnText="No, regresar"
    modalConfirmBtnText="Si, eliminar"
    (onModalAction)="onModalAction($event)"
/>