/* .icon-pos{
    text-align: end;
} */


.btn-paginator{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    color: #000;
    background-color: rgb(115, 115, 115,0.8);
    font-weight: bold;
    font-size: 24px;
    margin-inline: 5px;
}

.btn-paginator:hover{
    cursor: pointer;
}

.btn-num{
    font-size: 18px !important;
    font-weight: normal;
}

.disabled a{
    background-color: rgb(115, 115, 115,0.3);
    color: #ddd;
    cursor: text;
}

.active a{
    color: #fff;
    cursor: text;
    background-color: rgba(115, 115, 115);
}