.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que el botón de cerrar sesión esté al final */
}

.sidebar ul {
  margin-top: 24px;
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-block: 2px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.sidebar li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.active{
  cursor: default !important;
  background-color: rgba(255, 255, 255, 0.2);
}

.logout-button {
  margin-top: auto; /* Empuja el botón de cerrar sesión al final de la barra lateral */
}

.logout-button button {
  background-color: rgb(0, 0, 0,0.5);
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 5px; 
  width: 100%;
}

.logout-button button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.content {
  height: 100%;
  flex-grow: 1;
  background-color: #f0f0f0;
  padding: 20px;
}

.icon-pos{
  vertical-align: bottom;
}
