<main class="layout">
    <nav class="sidebar">
      <ul>
        <li *ngFor="let option of menuSidebar">
          <a routerLinkActive="active"
            [routerLink]="option.path" >
              {{ option.name | titlecase }}
          </a>
        </li>
      </ul>
      <div class="logout-button ">
        <button (click)="onLogout()">
          <img src="assets/icons/logout.svg" alt="logout">
          <span class="ms-2">Cerrar sesión</span>
        </button>
      </div>
    </nav>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
</main>
  