<nav class="mt-4 d-flex justify-content-center ">
    <ul class="pagination my-2">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="navigatePage(currentPage - 1)">Anterior</a>
        </li>
        <li class="page-item" *ngFor="let num of pageNumbers" [class.disabled]="num === '...'" [class.active]="num === currentPage">
            <a class="page-link" (click)="navigatePage(num)">{{ num }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="navigatePage(currentPage + 1)">Siguiente</a>
        </li>
    </ul>
</nav>