.message-box{
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 500;
    background-color: #28a745;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    animation: slideIn 1s, slideOut 0.5s 4.5s;
    font-size: 18px;
    max-width: 350px;
}

@keyframes slideIn{
    from {
        opacity: 0;
        transform: translateX(100%)
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

