<div class="form-apps">
    <h2>Nombre de la Aplicación</h2>
    <input type="text" placeholder="Introduce el nombre de la aplicación" />
  
    <div class="button-container">
      <input type="file" id="pdf-upload" accept="application/pdf" style="display: none;" (change)="onFileSelected($event, 'pdf')" />
      <label for="pdf-upload" class="btn">Cargar PDF</label>
  
      <input type="file" id="zip-upload" accept=".zip" style="display: none;" (change)="onFileSelected($event, 'zip')" />
      <label for="zip-upload" class="btn">Cargar ZIP</label>
  
      <button class="btn" (click)="onCancel()">Cancelar</button>
      <button class="btn" (click)="onSave()">Guardar</button>
    </div>
</div>
  