/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
}

.c-pointer{
    cursor: pointer;
}

.container-bg{
    padding: 8px 0px 12px 0px;
    background-color: #737373;
}

.table-body, .table-header{
    background-color: #ccc;
}

tr > th, tr > td {
    border: 2px solid #737373;
}

.table-thead-border {
    border-bottom: 3px solid #737373;
}

.col-actions{
    width: 20%;
}

.icon-hover:hover img {
    filter: brightness(0.8);
}